{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <ul class="nav nav-tabs" id='new-submission-tab'>
                    <li role="presentation" class='active'>
                        <a href="{{ path("submission_new_first_step") }}" title="{% trans %}First Information{% endtrans %}">
                            {% trans %}First Information{% endtrans %}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="javascript:void(0)" title="{% trans %}About Project{% endtrans %}">{% trans %}About Project{% endtrans %}</a>
                    </li>
                    <li role="presentation"><a href="javascript:void(0)">Estudo clínico</a></li>
                    <li role="presentation"><a href="javascript:void(0)">Cronograma e Orçamento</a></li>
                    <li role="presentation"><a href="javascript:void(0)">Referências</a></li>
                    <li role="presentation"><a href="javascript:void(0)">Arquivos anexados</a></li>
                    <li role="presentation"><a href="javascript:void(0)">Revisão</a></li>
                </ul>
            </div>
        </div>

        <div class='new-submission-tab-content'>
            <div class='row submission-meta'> </div>

            <div class='row'>
                <div class='col-md-12'>
                    <form class='form' method='POST' action='{{ path("submission_new_first_step") }}'>
                        <fieldset>
                            <legend>{% trans %}Clinical Trial{% endtrans %}</legend>
                            <div class="form-group required">
                                <label for="">{% trans %}Clinical Trial{% endtrans %}?</label>
                                <a href='#' data-toggle="modal" data-help-id="13" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div class="radio">
                                    <label><input type="radio" name="is_clinical_trial" id="radio_clinical_trial_yes" value="yes" required> {% trans %}Yes{% endtrans %}</label>
                                    <label><input type="radio" name="is_clinical_trial" id="radio_clinical_trial_no" value="no" required> {% trans %}No{% endtrans %}</label>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>{% trans %}Project Title{% endtrans %}</legend>
                            
                            <div class="form-group required">
                                <label for="input_cientific_title">{% trans %}Cientific Title{% endtrans %}:</label> 
                                <a href='#' data-toggle="modal" data-help-id="14" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='cientific_title' id='input_cientific_title' required>
                            </div>

                            <div class="form-group required">
                                <label for="input_public_title">{% trans %}Public title{% endtrans %}:</label> 
                                <a href='#' data-toggle="modal" data-help-id="15" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='public_title' id='input_public_title' required>
                            </div>

                            <div class="form-group">
                                <label for="input_title_acronyms">{% trans %}Title Acronyms{% endtrans %}:</label> 
                                <a href='#' data-toggle="modal" data-help-id="16" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='title_acronyms' id='input_title_acronyms'>
                            </div>
                        </fieldset>

                        <div class='submission-button-controls'>
                            <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock %}
