<form method="POST" id='form-action' action="{{ path("protocol_delete", {protocol_id: protocol.id} ) }}" enctype="multipart/form-data" action="">
    <input type='hidden' name='are-you-sure' value='yes'>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans %}Confirm?{% endtrans %}</h4>
    </div>
    <div class="modal-body">
        <p>{% trans %}Are you sure that you want to delete this protocol?{% endtrans %}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
    </div>
</form>
