{% extends "::base.html.twig" %}

{% block title %}{% trans %}Protocol options{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Initial committee screening{% endtrans %}</h1>
            </div>
        </div>
        
        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

        <!-- action -->
        <form method="POST" id='form-action' enctype="multipart/form-data">
            <input type="hidden" id="input-send-to" name="send-to" value="">
            
            <div class='block action'>
                <a name='action'></a>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Initial committee screening{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group" id='group-reject-submission'>
                            <label for="textarea-committee-screening">{% trans %}Committee Screening{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 112} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <textarea class="form-control" id="textarea-committee-screening" name='committee-screening'></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class='block'>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>Draft Opinion:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="file-draft-opinion">{% trans %}Send decision{% endtrans %}:</label> 
                            <a href="{{ path("crud_admin_help_show", {help_id: 183} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' id='file-draft-opinion' name="draft-opinion">
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='submission-button-controls col-md-12'>
                    <button type="button" class='btn btn-success' data-toggle='modal' data-target='#modal-confirm-exempt'>{% trans %}Set protocol as exempt{% endtrans %}</button>
                    <button type="submit" class='btn btn-primary' id='button-ethical-revision'>{% trans %}Send to Ethical Review{% endtrans %}</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal confirm -->
    <div class="modal fade" id="modal-confirm-exempt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Confirm?{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans %}Are you sure that you want to set this protocol as Exempt?{% endtrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-success" id='button-exempt-protocol'>{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("body").on("click", "#button-exempt-protocol", function(e){
                $("#input-send-to").val('exempt');
                $("#form-action").submit();
            });
            
            $("body").on("click", "#button-ethical-revision", function(e){
                $("#input-send-to").val('ethical-revision');
                $("#form-action").submit();
            });
            
        });
    </script>
{% endblock %}
