{% extends "::base.html.twig" %}

{% block title %}{% trans %}See Protocol{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">
                    {% trans %}Show Protocol{% endtrans %}

                    {% if protocol.status == "A" %}
                        <div class='xml-buttons pull-right'>
                            {% for xml in protocol.getXMLAvailable %}
                                <a href='{{ path('protocol_xml', {protocol_id: protocol.id, language_code: xml}) }}'
                                   target="_blank"
                                   class='btn btn-xs btn-default'
                                   title="{% trans %}Click here to see this protocol in ICTRP/WHO XML format{% endtrans %}">
                                    {% trans %}See XML ICTRP/WHO in{% endtrans %}
                                    {% if xml == 'pt_BR' %}Português{% endif %}
                                    {% if xml == 'es_ES' %}Español{% endif %}
                                    {% if xml == 'en' %}English{% endif %}
                                    {% if xml == 'fr_FR' %}Français{% endif %}
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $(".toggle-block").trigger('click');
        });
    </script>
{% endblock %}
