{% extends "::base.html.twig" %}

{% block title %}{% trans %}See Protocol{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Show Protocol{% endtrans %}</h1>
            </div>
        </div>
        
        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){

            
        });
    </script>
{% endblock %}
