/*
* This file is part of the ProEthos Software.
*
* Copyright 2013, PAHO. All rights reserved. You can redistribute it and/or modify
* ProEthos under the terms of the ProEthos License as published by PAHO, which
* restricts commercial use of the Software.
*
* ProEthos is distributed in the hope that it will be useful, but WITHOUT ANY
* WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
* PARTICULAR PURPOSE. See the ProEthos License for more details.
*
* You should have received a copy of the ProEthos License along with the ProEthos
* Software. If not, see
* https://github.com/bireme/proethos2/blob/master/LICENSE.txt
*/

fieldset {
    /*border: 1px solid #ccc;*/
}

table:not(.table-bordered)>thead>tr>th,
.table:not(.table-bordered)>thead>tr>th,
table:not(.table-bordered)>tbody>tr>th,
.table:not(.table-bordered)>tbody>tr>th,
table:not(.table-bordered)>tfoot>tr>th,
.table:not(.table-bordered)>tfoot>tr>th,
table:not(.table-bordered)>thead>tr>td,
.table:not(.table-bordered)>thead>tr>td,
table:not(.table-bordered)>tbody>tr>td,
.table:not(.table-bordered)>tbody>tr>td,
table:not(.table-bordered)>tfoot>tr>td,
.table:not(.table-bordered)>tfoot>tr>td {
    border-color: #eee;
}

.center {
    text-align: center;
}

.navbar-default .nav>li>a {
    text-transform: uppercase;
}

footer {
    background-color: #fff;
}

.main-footer {
    text-align: center;
}

.flashbag {
    margin-top: 60px;
    margin-bottom: -100px;
}

.main-content {
    margin-top: 30px;
}

.submission-meta {
    margin-top: 20px;
    margin-bottom: 20px;
}

.submission-meta img {
    width: 60px;
}

.submission-meta .label,
.see-submission .block.meta .label {
    color: #333;
    text-transform: uppercase;
    padding: 1px;
}

.submission-meta .block {
    margin-bottom: 30px;
}

.submission-meta h2,
.submission-meta h3 {
    margin: 0;
    font-weight: bold;
}

.new-submission-content h2.sub-header,
.submissions h2.sub-header,
.see-submission h2.sub-header,
.download-docs h2.sub-header,
.faq h2.sub-header {
    padding: 0;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

.submission-button-controls {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 30px 0;
    padding-top: 15px;
}

.error {
    color: #ff0000;
}

.search-button {
    margin-top: 25px;
}

#export-to-csv-button {
    white-space: normal;
}

#pagination {
    text-align: center;
}

.pagination li a {
    margin: 0 2px;
}

.see-submission .block .row {
    margin-bottom: 15px;
}

.see-submission .block .row:first-child {
    /*margin-bottom: 0;*/
}

.see-submission h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
}

.meta .titulo {
    font-weight: bold;
}

.block.action {
    /*background-color: #efefef;*/
}

h5 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 12pt;
    padding-bottom: 5px;
    margin-top: 15px;
}

.sortable>* {
    cursor: move;
}

.faq .content {
    margin-top: 20px;
    line-height: 18pt;
}

.download-docs h3 {
    font-size: 14pt;
    /*border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;*/
    margin-bottom: 15px;
}

.required>label {
    font-weight: bold;
    color: #ff0000;
}

.question h2.sub-header {
    font-size: 14pt;
    font-weight: bold;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.answer {
    margin: 0 0 20px 0;
}

/*cor do texto dos selecionados do select2 (multiple) */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #666;
}

/*  padroniza as caixas de select2 (multiple) */
.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de;
    border-radius: 0;
}

.select2-selection {
    border-radius: 0 !important;
    box-shadow: none !important;
    border-color: #d2d6de !important;
    height: 34px !important;
}

.g-recaptcha {
    margin: 10px 0 20px 0;
}

.help-text-undefined,
.help-text-undefined:focus,
.help-text-undefined:link,
.help-text-undefined:visited,
.help-text-undefined:hover {
    color: #ff0000;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

img.logo {
    max-width: 300px;
    max-height: 140px;
}

.nav>li>a>img.logo {
    max-height: 18px;
}

.alert-info ul {
    margin: 10px 0 0 0;
}

.alert-info a {
    color: #fff;
    border-bottom: 1px dashed #fff;
}

.alert-info a:hover {
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

#bs-example-navbar-collapse-1 ul.nav.navbar-nav li:last-child ul.dropdown-menu {
    left: auto;
    right: 0;
}

#info-mail {
    font-size: 16px;
    vertical-align: super;
    cursor: pointer;
}

.logoNav {
    max-width: 154px;
    margin: 10px;
    display: none;
}

.modal {
    overflow-y: auto !important;
}

.panel-heading.note-toolbar {
    position: static !important;
}

.note-editable {
    margin-top: 0 !important;
}

.btn-signin {
    margin-top: 15px;
}

.main-footer .logo-footer {
    max-width: 700px;
    margin: 3rem 0;
}

.modal .nav-tabs {
    margin-bottom: 15px;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
    border-width: 1px;
}

.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 1em;
    color: #198754;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 1em;
    color: #dc3545;
}
/*
#table-attachment thead tr th:first-child,
#table-attachment tbody tr td:first-child {
    border-left: 1px solid #fff;
    border-left-width: 6px;
}
*/
.attachment-primary {
    border-left-color: #72aee6 !important;
}

.attachment-warning {
    border-left-color: #dba617 !important;
}

.attachment-danger {
    border-left-color: #d63638 !important;
}

.add-highlight {
    background-color: #ffa500;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.del-highlight {
    background-color: transparent;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.export-format {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

#cookie-bar-button {
    text-decoration: none !important;
}

#cookie-bar-button:hover {
    text-decoration: underline !important;
}

.mt-1 {
  margin-top: .25rem;
}
.mb-1 {
  margin-bottom: .25rem;
}
.mt-2 {
  margin-top: .5rem;
}
.mb-2 {
  margin-bottom: .5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mt-5 {
  margin-top: 3rem;
}
.mb-5 {
  margin-bottom: 3rem;
}

.pt-1 {
  padding-top: .25rem;
}
.pb-1 {
  padding-bottom: .25rem;
}
.pt-2 {
  padding-top: .5rem;
}
.pb-2 {
  padding-bottom: .5rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.pt-4 {
  padding-top: 1.5rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}
.pt-5 {
  padding-top: 3rem;
}
.pb-5 {
  padding-bottom: 3rem;
}

.form-contacts .tagify {
    --tag-bg: #2C93D9;
    --tag-hover: #CE0078;
    --tag-text-color: #FFF;
    --tags-border-color: silver;
    --tag-text-color--edit: #111;
    --tag-remove-bg: var(--tag-hover);
    --tag-pad: .6em 1em;
    --tag-inset-shadow-size: 1.3em;
    --tag-remove-btn-bg--hover: black;
}

@media screen and (max-width: 768px) {
    table:not(.table-revision) {
        table-layout: fixed;
    }

    table:not(.table-revision) thead {
        border: none;
        clip: rect(0 0 0 0);
        overflow: hidden;
        padding: 0;
        position: absolute;
    }

    table:not(.table-revision) tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 30px;
    }

    table:not(.table-revision) td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
        min-height: 32px;
    }

    table:not(.table-revision) td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        margin-right: 2rem;
    }

    table:not(.table-revision) td:last-child {
        border-bottom: 0;
    }

    table:not(.table-revision) tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    .dropdown-submenu .dropdown-menu>li>a,
    .dropdown-submenu .dropdown-menu .dropdown-header {
        padding-left: 35px !important;
    }
}

@media (max-width: 772px) {
    #bs-example-navbar-collapse-1 ul.nav.navbar-nav {
        display: block;
    }

    .logoNav {
        display: block;
        max-height: 4vh;
    }

    .logo {
        display: none;
    }

    .navbar-collapse {
        max-height: none !important;
    }
}
input[type="text"].form-control {
  /* suas propriedades aqui */
  background-color: #f9f9f9;
  color: #333;
  height: 46px;
}

@media (max-width: 750px){
    .form-card.card {
        margin: 20px auto!important;
        width: 93%!important;
    }
    .logo-footer {
        width: 80%;
    }
}

@media (max-width: 991px){
    .meta div[class^='col'] {
        padding-bottom: 1rem;
    }
    .card-login{
        height: 400px;
    }
}







input[type="text"].form-control {
  /* suas propriedades aqui */
  border: 1px #ddd solid;
  background-color: #f9f9f9;
  color: #333;
  height: 46px;
  letter-spacing: 0.8pt;
}

#new-submission-tab-content .form-group {
  margin-bottom: 36px;
}

.see-submission .label{
    font-weight: bold;
    width: 100px;
    font-size: 12px;
    padding: 2px 12px;
    display: block;
}

.see-submission .label-info{
    background-color: #bc78e5;
}

.see-submission .btn-default{
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #ddd;
}

.see-submission .btn-default:hover{
    background-color: #0093D5;
    color: #fff;
}

.navbar-default .nav>li>a {
    color: #444;
}

.new-submission-tab-content .form-group{
    margin-bottom: 46px;
}