fieldset {
    /*border: 1px solid #ccc;*/
}
.center {
    text-align: center;
}
.navbar-default .nav > li > a {
    text-transform: uppercase;
}
.main-content {
    margin-top: 30px;
}
.submission-meta {
    margin-top: 20px;
    margin-bottom: 20px;
}
.submission-meta img {
    width: 60px;
}
.submission-meta .label, .see-submission .block .label {
    color: #333;
    text-transform: uppercase;
    padding: 1px;
}
.submission-meta .block {
    margin-bottom: 30px;
}
.submission-meta h2, .submission-meta h3 {
    margin: 0;
    font-weight: bold;
}
.new-submission-content h2.sub-header, .submissions h2.sub-header, .see-submission h2.sub-header {
    padding: 0;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.submission-button-controls {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 30px 0;
    padding-top: 15px;
}
.error {
    color: #ff0000;
}
.search-button {
    margin-top: 25px;
}
#pagination {
    text-align: center;
}
.pagination li a {
    margin: 0 2px;
}
.see-submission .block .row {
    margin-bottom: 15px;
}
.see-submission .block .row:first-child {
    margin-bottom: 0;
}
.see-submission h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
}
