fieldset {
    /*border: 1px solid #ccc;*/
}
.center {
    text-align: center;
}
.navbar-default .nav > li > a {
    text-transform: uppercase;
}
.main-content {
    margin-top: 30px;
}
.submission-meta {
    margin-top: 20px;
    margin-bottom: 20px;
}
.submission-meta img {
    width: 60px;
}
.submission-meta .label {
    color: #333;
    text-transform: uppercase;
}
.submission-meta .block {
    margin-bottom: 30px;
}
.submission-meta h2, .submission-meta h3 {
    margin: 0;
    font-weight: bold;
}
.new-submission-content h2 {
    padding: 0;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.submission-button-controls {
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 30px 0;
    padding-top: 15px;
}
.error {
    color: #ff0000;
}