<form enctype="multipart/form-data" class='form' method="POST" id='form-update-document' action='{{ path("security_change_password") }}'>
    
    <div class="modal-header">
        {% if not app.user.firstAccess %}
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {% endif %}
        <h4 class="modal-title" id="myModalLabel">{% trans %}Change Password{% endtrans %}</h4>
    </div>
    <div class="modal-body">
        
        {% if app.user.firstAccess %}
            <div class='alert alert-warning'>
                <p>{% trans %}This is your first access! Please, for your security, you need to change your password.{% endtrans %}</p>
            </div>
        {% endif %}
        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-password">{% trans %}New Password{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 103} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <input type='password' class='form-control' id="input-password" name="change-password" required>
                </div>
            </div>
        </div>
        
        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-password-confirm">{% trans %}Confirm Password{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 104} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <input type='password' class='form-control' id="input-password-confirm" name="password-confirm" required>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        {% if not app.user.firstAccess %}
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        {% endif %}
        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
    </div>
</form>