<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{% block title %}{% endblock %} | Proethos2</title>
    <meta name="description" content="">

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-mvYjhBJXQ9VlNETV/xXShy849GsBHnKzVVudnMOcWUVM/6Nd2ksj8VNng5f8ylyX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-wysiwyg/0.3.3/bootstrap3-wysihtml5.min.css" />
    <link href="{{ asset('bundles/proethos2core/css/style.css') }}" rel="stylesheet">

    <!-- FAVICON –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

    <!-- for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

    <script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="https://igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="https://uxsolutions.github.io/bootstrap-datepicker/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-wysiwyg/0.3.3/bootstrap3-wysihtml5.all.min.js"></script>
    <script src="{{ asset('bundles/proethos2core/js/script.js') }}"></script>

    {% block extrahead %}{% endblock %}
</head>

<body>
    {% block body %}

        {% include 'menu.html.twig' %}

        {% block content %}{% endblock %}

    {% endblock %}

    <footer class="navbar main-footer">
        <div class='row'>
            <div class='col-sm-12'>
                <a href="https://github.com/bireme/proethos2/raw/master/doc/legal/legal-disclaimer-es_ES.pdf" target="_blank">{% trans %}Legal disclaimer{% endtrans %}</a> |
                <a href="https://github.com/bireme/proethos2/blob/master/LICENSE.txt" target="_blank">{% trans %}Terms of Use{% endtrans %}</a>
            </div>
        </div>
        <div class='row'>
            <div class='col-sm-12'>
                © {% trans %}Pan American Health Organization, 2013. All rights reserved.{% endtrans %} - {% include 'version.txt' %}
            </div>
        </div>
    </footer>

    <!-- Modal HELP -->
    <div class="modal fade" id="modal-help" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <!-- Modal MAIL -->
    <div class="modal fade" id="modal-mail" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <!-- Modal Base Ajax -->
    <div class="modal fade" id="modalBaseAjax" data-keyboard="false" data-backdrop="static"  role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <script>
        $('body').on('hidden.bs.modal', '.modal', function () {
            $(this).removeData('bs.modal');
        });

        $('body').on('shown.bs.modal', '.modal', function () {
            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true
            });
        });


        $(function(){
            $(".submit-on-change").change(function(){
                $(this).parents('form').submit();
            });

            $('[data-toggle="tooltip"]').tooltip();

            {% for flash_message in app.session.flashBag.get('success') %}
                toastr.success('{{ flash_message }}');
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
                toastr.error('{{ flash_message }}');
            {% endfor %}

            {# if first access, tells to change password #}
            {% if app.user and app.user.firstAccess %}
                console.log('first access...');
                $("#menuChangePassword").trigger('click');
            {% endif %}

            // actions in help links
            var help_links = $('a[data-target="#modal-help"]');
            $.each(help_links, function(id, link){

                var obj = $(link);
                var id = link.href.split("/")
                id = id[id.length-1]
                console.log('[help] adding status to link ' + id + '...');

                var url = link.href + "/check";
                $.get(url, function(data){
                    if(!data.status) {
                        {% if is_granted("ROLE_USER") and 'administrator' in app.user.rolesSlug %}
                            obj.addClass('help-text-undefined');
                        {% else %}
                            obj.hide();
                        {% endif %}
                    }
                });
            });

            // actions in mail links
            var mail_links = $('a[data-target="#modal-mail"]');
            $.each(mail_links, function(id, link){

                var obj = $(link);
                var id = link.href.split("/")
                id = id[id.length-1]
                console.log('[mail] adding status to link ' + id + '...');

                var url = link.href + "/check";
                $.get(url, function(data){
                    if(!data.status) {
                        {% if is_granted("ROLE_USER") and 'administrator' in app.user.rolesSlug %}
                            obj.addClass('mail-text-undefined');
                        {% else %}
                            obj.hide();
                        {% endif %}
                    }
                });
            });

            $('.datepicker').datepicker({
                format: "yyyy-mm-dd",
                autoclose: true
            });
        });
    </script>
    {% block script %}{% endblock %}
</body>
</html>
