<form class='form'>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans %}User's password key{% endtrans %}</h4>
    </div>
    <div class="modal-body">
        
        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group required">
                    <label for="input-url">{% trans %}URL{% endtrans %}:</label> 
                    <a href='#' data-toggle="modal" data-help-id="48" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <input type='text' class='form-control' id="input-url" name="url" value="{{ url }}" required>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
    </div>
</form>