{% extends "::base.html.twig" %}

{% block title %}{% trans %}Upload Extension Types{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">
                    {% trans %}Upload Extension Types{% endtrans %}
                    <a href='#' class='btn btn-primary' data-toggle='modal' data-target='#modal-new-item'>{% trans %}New Upload Extension Type{% endtrans %}</a>
                </h1>
            </div>
        </div>
        
        <div class='block'>
            <div class='row'>
                <div class="col-md-12">
                    <table class='table table-hover table-condensed'>
                        
                        <thead>
                            <tr>
                                <th width="80%">{% trans %}Extension{% endtrans %}</th>
                                <th width="">{% trans %}Status{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.extension }}</td>
                                    <td>
                                        {% if item.status %}
                                            <span class='label label-success'>{% trans %}active{% endtrans %}</span>
                                        {% else %}
                                            <span class='label label-default'>{% trans %}inactive{% endtrans %}</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{{ path("crud_admin_controlled_list_upload_type_extension_update", {item_id: item.id}) }}" data-toggle="modal" data-target="#modal-ajax-item" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- Modal New Upload Extension Type -->
    <div class="modal fade" id="modal-new-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="item">
            <div class="modal-content">
                <form enctype="multipart/form-data" class='form' method="POST" id='form-new-item'>
                    <input type="hidden" name="MAX_FILE_SIZE" value="{{ 10*1024*1024 }}" />
                    
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Upload Extension Type{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class='row'>
                            <div class='col-md-12'>
                                <div class="form-group">
                                    <label for="input-extension">{% trans %}Extension{% endtrans %}:</label> 
                                    <a href="{{ path("crud_admin_help_show", {help_id: 169} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                    <input type='text' class='form-control' id="input-extension" name="extension" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal ajax Upload Extension Type -->
    <div class="modal fade" id="modal-ajax-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="item">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            
           
        });

        
    </script>
{% endblock %}
