{% extends "::base.html.twig" %}

{% block title %}{% trans %}Documents{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content download-docs">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Documents{% endtrans %}</h1>
            </div>
        </div>

        <div class="block">
            
            <div class="row">

                {% for role in roles %}
                    {% if role in app.user.proethos2Roles %}
                        <div class="col-md-6">
                            <h2 class='sub-header'>{{ role.name }}</h2>
                            <ul>
                                {% for document in documents %}
                                    {% if role in document.roles %}
                                        <li><a href="{{ path("crud_document_upload", {'document_id': document.id }) }}" target="_blank">
                                            <span data-toggle="tooltip" data-placement="top" title="{{ document.description }}">
                                                {{ document.title }}
                                            </span>
                                        </a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>    
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){

        });
    </script>
{% endblock %}
