<form class='form' method="POST" id='form-new-item' action="{{ path('crud_admin_controlled_list_upload_type_extension_update', {item_id: item.id} ) }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans %}Update Item{% endtrans %}</h4>
    </div>
    <div class="modal-body">
        
        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="input-extension">{% trans %}Extension{% endtrans %}:</label> 
                    <a href="{{ path("crud_admin_help_show", {help_id: 131} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <input type='text' class='form-control' id="input-extension" name="extension" value="{{ item.extension }}" required>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'> 
                <div class="form-group">
                    <div class="checkbox">
                        <label for="input-status">
                            <input type="checkbox" id='input-status' name='status' value="true" {% if item.status %}checked{% endif %}> {% trans %}Active?{% endtrans %}
                            <a href="{{ path("crud_admin_help_show", {help_id: 132} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
    </div>
</form>