<form class='form' method="POST" id='form-new-help' action="{{ path('crud_admin_help_update', {help_id: help.id} ) }}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{% trans %}Update Help{% endtrans %}</h4>
    </div>
    <div class="modal-body">
        
        <div class='row'>
            <div class='col-md-12'>
                <div class="form-group">
                    <label for="textarea-help-message">{% trans %}Message{% endtrans %}:</label> 
                    <a href='#' data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                    <textarea rows="5" class='form-control' id="textarea-help-message" name="help-message" required>{{ help.message }}</textarea>
                </div>
            </div>
        </div>                        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
        <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
    </div>
</form>